$sidebar-width:230px;
$sidebar-width-collapse: 70px;


$sidebar-header:#111;
$sidebar-background:#555;
$sidebar-list-header:#111;
$sidebar-list-item:#333;
$sidebar-list-item-border:#444;
$sidebar-list-item-hover:#111;
$sidebar-sublist-item:#111;
$sidebar-sublist-item-hover:#292929;

$sidebar-text:#fff;


$header-background:#eee;
$header-border:#ccc;

$content-background:#f7f7f7;

$card-background:#fff;


$primary-color: #c2272d;
$secondary-color:#6F7998;
$tertiary-color:#B8B8B8;


$status-primary: #428bca;
$status-success: #5cb85c;
$status-info: #5bc0de;
$status-warning: #f0ad4e;
$status-danger: #d9534f;


//custom variables

$panel-padding: 22px;
$max-width: 1200px;